{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="h-100 w-100">
        <div class="d-flex justify-content-center align-items-center">
            <div class="text-center" id="signup">
                <form class="md-form form-signin py-3" method="post">
                    {% csrf_token %}
                    <h1 class="h3 font-weight-normal">{% trans 'Sign up' %}</h1>
                    {% if form.errors %}
                        <div class="error-style font-small text-left">
                        <p>
                            {% trans "Your passwords do not match/ you did not follow the general security recommendations." %}</p>
                            <p class="mb-0 pb-0">{% trans "The password" %}:</p>
                            <ul class="w-120 m-0 p-0">
                                <li>{% trans "cannot be too similar to the username," %}</li>
                                <li>{% trans "must contain at least 8 characters," %}</li>
                                <li>{% trans "can't be entirely numeric," %}</li>
                                <li>{% trans "can't be a commonly used password." %}</li>
                            </ul>
                        </div>
                    {% endif %}

                    <div class="control-group">

                        <label class="control-label sr-only" for="id_username">Username:</label>
                        <input class="form-control" type="text" name="username" maxlength="150"
                               autofocus="" id="id_username" required="" placeholder={% trans "Login" %}>
                    </div>
                    <div class="control-group">
                        <label class="control-label sr-only" for="id_password1">Password:</label>
                        <div class="controls">

                            <input class="form-control" type="password" name="password1" id="id_password1"
                                   required="" placeholder={% trans "Password" %}>
                        </div>

                    </div>
                    <div class="control-group">
                        <label class="control-label sr-only" for="id_password2">Password
                            confirmation:</label>

                        <div class="controls">
                            <input class="form-control" type="password" name="password2"
                                   id="id_password2" required="" placeholder="{% trans 'Repeat password' %}">
                        </div>

                    </div>

                    <button type="submit" class="btn btn-lg btn-primary btn-block">{% trans 'Sign up!' %}</button>
                </form>
                <p class="font-small">{% trans "By signing up or otherwise using the TripPlanner service, you acknowledge that you have read and understood the" %}
                    <a href="{% url 'about-tripplanner' %}">{% trans 'agreements' %}</a>.</p>
            </div>

        </div>
    </div>

{% endblock %}