.nav-item{
    padding: 2px;
}

.error-style{
    color: #bf0000;
}

.flatpickr-input{
    width: 145px;
}

input[type=number] {
    width: 90px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion:active, .accordion:hover {
    background-color: #ccc;
}