/** {*/
/*margin: 0;*/
/*padding: 0;*/
/*border: 0;*/
/*outline: 0;*/
/*font-size: 100%;*/
/*vertical-align: baseline;*/
/*background: transparent;*/
/*}*/

html, main, body {
    /*margin: 0 auto;
    padding: 0 !important;*/
    width: 100%;
    height: 100%;
}

#home-trip-attributes, #home-trip-attributes2 {
    height: 100vh;
}

#home-1-text-container {
    margin-bottom: 8rem;
    /*margin-right: 1rem;*/
}

#home-first-h1-main-text {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#home-first-h1-links-div {
    font-size: 1.5rem;
}

.fa-lightbulb {
    margin-bottom: 2.5rem;
}

#home-begin-art {
    /*margin-top: 8rem;*/
    margin-left: 3rem;
    margin-top: 7rem;
}

#cog-home {
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    position: fixed!important;
    bottom: 2rem;
    right: 0;
    color: white;
}

#cog-home:hover{
    color: #0091ea;
    cursor: pointer;
}

#change-lang-home {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed!important;
    bottom: 2rem;
    right: 0;
}

#lang-form{
    width: 120px;
}

#lang-input-home {
    background-color: #321911;
}

#home-logo-container {
    width: 200px;
    height: 50px;
    padding-top: 0;
    position: relative;
    top: -.5rem;
    left: 0;
}

#middle-logo-div {
    position: relative;
    top: -1rem;
    left: 0;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    #home-1-text-container {
        margin-bottom: 5rem;
    }

    #home-first-h1-main-text {
        font-size: 3.5rem;
    }

    #home-first-h1-links-div {
        font-size: 2rem;
    }
    #home-logo-container {
        width: 250px;
        height: 50px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    #home-begin-art {
        margin-left: 8rem;

    }

    #home-1-text-container {
        margin-bottom: 6rem;
        margin-right: 4rem;
        max-width: 700px;
    }

    #home-first-h1-main-text {
        font-size: 3.5rem;
    }

    #home-first-h1-links-div {
        font-size: 2rem;
    }
    #home-logo-container {
        width: 300px;
        height: 60px;
        top: -1rem
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #home-1-text-container {
        margin-bottom: 8rem;
        margin-right: 5rem;
        max-width: 1500px;
    }
    #home-first-h1-main-text {
        font-size: 3.5rem;
    }
    #home-trip-attributes-main-txt {
        margin-left: 15rem;
        margin-right: 15rem;
        margin-bottom: 5rem;
    }
    #home-logo-container {
        width: 400px;
        height: 70px;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #home-1-text-container {
        margin-bottom: 4rem;
        margin-right: 0;
        padding-left: 20rem!important;
        /*max-width: 1200px;*/
    }

    #home-begin-art {
        margin-left: 20rem;
    }

    #home-first-h1-main-text {
        font-size: 4rem;
    }
    #home-first-h1-links-div {
        /*height: 200px;*/
    }
}

#home-first-bg {
    /*background: url(../img/test4kopia.jpg) no-repeat center center fixed;*/
    background: url(../img/desk-photos3.png) no-repeat center center fixed;
    /*background-color: black;*/
    /*background: url(../img/1bgv3anarrow.png) no-repeat center center fixed;*/
    color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

#home-writing-bg {
    background: url(../img/test5a.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;

}

#home-seeking-inspiration {
    background: url(../img/tlo2popr-min.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.test {
    margin-right: 10rem;
    color: black;
}

a {
    color: #0091ea;
}

.a-on-dark {
    border-bottom: 2px solid #0091ea;;
    color: white;
}

.a-on-dark:hover {
    font-weight: bold;
}

a:hover {
    font-weight: bold;
    color: #0091ea;
    border-bottom: 3px solid #0091ea;
}

.font-black {
    color: black;
}

.font-white {
    color: white;
}

/*.bottom-right {*/
/*right: 0;*/
/*bottom: 0;*/
/*position: absolute;*/
/*}*/

/*#home-first-h1{*/
/*margin-bottom: 10rem;*/
/*margin-right: 10rem;*/
/*}*/

/*.font-50 {*/
/*font-size: 50%;*/
/*}*/

/*.home-logo {*/
/*max-height: 100px;*/
/*width: auto;*/
/*}*/
