@media screen and (min-width: 768px) {
    .container {
        margin-left: 80px;
    }
}

.new-participant {
    width: 20rem;
    display: inline-block;
}

#check_icon {display: inline-block}


.font-weight-400 {
    font-weight: 400;
}

.login-box {
    height: 80%;
    align-items: center;
    overflow: hidden;
    margin-left: 150px;
}

.form-signin > div {
    padding: 1rem;
}

th,td {
    border-bottom-style: inherit;
    border-top-style: inherit;
    border-bottom-color: #ede7f6!important;
    border-top-color: #ede7f6!important;
}

.btn {
    background: #321911!important;
}


nav {
    background: #ede7f6;
}

body {
    background-image: url(../img/paperwood.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h1,h2  {
    padding: 1rem;
}

.container {

    padding: 1rem;
}

.scrollable-horizontally {
    overflow-x: auto
}

.delete-row {
    padding-left: 1.25rem
}

label {
    font-weight: bold;
}

.trip-form {
    padding: .5rem 0;

}

.table {
    margin-bottom: .5rem;
}

.table td {
    vertical-align: middle;
    padding: .25rem;
}

.font-size-bigger {
    font-size: 2.5rem;
    color: #321911;
    font-weight: 400;
}

.nav-item {
    padding: 2px;
}

.error-style {
    color: #bf0000;
}

input[type=number] {
    width: 90px;
}

.accordion {
    background-color: #bbb5c3;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    margin-top: .2rem;
}

.accordion:active, .accordion:hover {
    background-color: #ede7f6;
}