/*.flatpickr-month{*/
/*height: 50px;*/
/*overflow: hidden; !*todo: temp solution*!*/
/*}*/

.delete-row {
    padding-left: 1.25rem
}

label {
    font-weight: bold;
}

/*.dynamic-form-add > td { !*todo: nie dziala*!*/
    /*padding: 0.5rem;*/
/*}*/

div .row {
    margin: .5rem 0;

}

.table {
    margin-bottom: 0;
}

.table td {
    vertical-align: middle;
    padding: .25rem;
}

.font-size-bigger {
    font-size: 2.5rem;
}
/*todo sizes font*/
.remove-element {
    font-size: 3rem;
}

.nav-item {
    padding: 2px;
}

.error-style {
    color: #bf0000;
}

.flatpickr-input {
    width: 145px;
}

input[type=number] {
    width: 90px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion:active, .accordion:hover {
    background-color: #ccc;
}