{% extends "base.html" %}
{% load i18n %}
{% block title %}{% endblock %}
{% block content %}
    <div class="justify-content-center align-items-center h-100 w-100">
    <div>
    <h1>{% trans 'My Trips'%}</h1>
        <table class="table d-block">
        <thead>
        <tr>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'Description' %}</th>
        </tr>
        </thead>
        <tbody>
            {% for trip in object_list %}
                <tr>
                    <td>{{ trip.name }}</td>
                    <td>{{ trip.description }}</td>

                    <td><a href="{% url 'trip-detail' trip.pk %}">{% trans 'Details'%}</a></td> {# todo:ostylowac#}
                    {% if user.id == trip.created_by_id %}
                        <td><a href="{% url 'trip-update' trip.pk %}">{% trans 'Edit'%}</a></td>
                        <td><a href="{% url 'trip-delete' trip.pk %}">{% trans 'Delete'%}</a></td>
                    {% else %}
                        <td></td>
                        <td></td>
                    {% endif %}
                </tr>
            {% empty %}
                <tr>
                    <td>{% trans 'No trip yet.'%}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
            <p>
            <a href="{% url 'trip-with-attributes-create' %}">{% trans 'Create a new trip'%}</a>
        </p>
    </div>
    </div>
{% endblock %}