{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}
    <h1>Trip</h1>

        <form action="" method="post">{% csrf_token %}
            <table class="table">
                {{ form }}
            </table>


            <div class="tab">
                <button type="button" class="tablinks" onclick="openCategory(event, 'Journeys')">Journeys</button>
                <button type="button" class="tablinks" onclick="openCategory(event, 'Accommodations')">Accommodations</button>
                <button type="button" class="tablinks" onclick="openCategory(event, 'Attractions')">Attractions</button>
            </div>

        <div class="tabcontent" id="Journeys">
            <table class="table">
                {{ journeys.management_form }}
                <h2>Journeys</h2>
                {% for form in journeys.forms %}
                    {% if forloop.first %}
                        <thead>
                        <tr>
                            {% for field in form.visible_fields %}
                                <th>{{ field.label|capfirst }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                    {% endif %}
                    <tr class="{% cycle row1 row2 %} formset_row1">
                        {% for field in form.visible_fields %}
                            <td>
                                {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                {% endif %}
                                <div class="error-style">{{ field.errors.as_text }}</div>
                                {{ field }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="tabcontent" id="Accommodations">
            <table class="table">
                {{ accommodations.management_form }}
                <h2>Accommodations</h2>
                {% for form in accommodations.forms %}
                    {% if forloop.first %}
                        <thead>
                        <tr>
                            {% for field in form.visible_fields %}
                                <th>{{ field.label|capfirst }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                    {% endif %}
                    <tr class="{% cycle row1 row2 %} formset_row2">
                        {% for field in form.visible_fields %}
                            <td>
                                {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                {% endif %}
                                <div class="error-style">{{ field.errors.as_text }}</div>
                                {{ field }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="tabcontent" id="Attractions">
            <table class="table">
                {{ attractions.management_form }}
                <h2>Attractions</h2>
                {% for form in attractions.forms %}
                    {% if forloop.first %}
                        <thead>
                        <tr>
                            {% for field in form.visible_fields %}
                                <th>{{ field.label|capfirst }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                    {% endif %}
                    <tr class="{% cycle row1 row2 %} formset_row3">
                        {% for field in form.visible_fields %}
                            <td>
                                {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                {% endif %}
                                <div class="error-style">{{ field.errors.as_text }}</div> {# todo: gdy kopiuje sie wiersz, to bledy tez #}
                                {{ field }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>

            <div><input type="submit" value="Save"/></div>
            <div><a href="{% url 'trip-list' %}">back to the list</a></div>
        </form>

{% endblock %}

{% block js %}
    <script src="{% static 'libs/formset/jquery.formset.js' %}"></script>
    <script src="{% static 'own/js/add_trip_attribute.js' %}"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/pl.js"></script>

    <script src="{% static 'own/js/tabs.js' %}"></script>

{#    <script>#}
{#    // Get the element with id="defaultOpen" and click on it#}
{#    document.getElementById("defaultOpen").click();#}
{#    </script>#}

{% endblock %}