{% extends "base.html" %}
{% load i18n %}
{% block title %}{% endblock %}
{% block content %}
    <div class="h-100">
        <h1 class="my-3 mb-4 text-center">
            {% if user.is_anonymous %}
                {% trans 'All Trips List' %}
            {% else %}
                {% if view.request.path == '/my-fav-trips' %}
                    {% trans 'My favourite trips' %}
                {% else %}
                    {% trans "Other Trips" %}
                {% endif %}
            {% endif %}
        </h1>
        <div class="my-lg-3 d-flex flex-wrap justify-content-center  alignalign-items-center">
            {% for trip in object_list %}
                <div class="d-inline-block m-md-3 my-md-4" id="trip-avatar-text-container">
                        <div class="d-flex justify-content-center align-items-center">
                            {% if trip.main_image %}
                                <div class="d-flex justify-content-center align-items-center text-center p-2">
                                    <a href="{% url 'trip-detail' trip.pk %}" class="d-inline-block no-a-underline-on-hover">
                                        <img
                                                src='{{ trip.main_image.url }}'
                                                alt="Trip main photo" class="resize-img">
                                    </a>
                                </div>
                            {% else %}
                                <div class="d-flex justify-content-center align-items-center text-center p-2">
                                    <a href="{% url 'trip-detail' trip.pk %}" class="d-inline-block no-a-underline-on-hover">
                                        <img
                                                src='../../../static/own/img/africa-1299545_640.png'
                                                alt="Trip main photo" class="resize-img">
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="row text-center align-items-center">
                            <div class=" col-9 d-inline">
                                <a href="{% url 'trip-detail' trip.pk %}" class="d-inline-block myicon">
                                {{ trip.name }}
                                </a>
                            </div>
                            {% if trip.profile_set.count > 0 %}
                                <div class=" col-3 text-center">
    {#                                <a href="{% url 'trip-detail' trip.pk %}" class="d-inline-block myicon">#}
                                    {{ trip.profile_set.count }} <i class="fas fa-heart d-inline"></i>
    {#                                </a>#}
                                </div>
                            {% endif %}
                        </div>
                </div>
            {% empty %}
                <p>{% trans 'No trip yet.' %}</p>
            {% endfor %}
        </div>

        <p>
            <a class="d-inline-block mt-3 ml-3" href="{% url 'trip-with-attributes-create' %}">{% trans 'Create a new trip' %}</a>
        </p>
    </div>
{% endblock %}