{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}

    {% if form.initial|length > 0 %}
        <h1>{% trans "Edit Trip" %}</h1>
    {% else %}
        <h1>{% trans "New Trip" %}</h1>
    {% endif %}

    <form class="" action="" method="post">{% csrf_token %}
        {% for field in form %}
            <div>
                <span> {% trans field.label %} </span>
            </div>

            <div>
                {{ field.errors }}
                {{ field }}
            </div>
        {% endfor %}

        {#        <button type="button" class="accordion" data-toggle="collapse" data-target="#journeys" aria-controls="journeys">{% trans 'Journeys' %} + </button>#}
        <div class="form-with-acc">
            <div class="accordion d-flex justify-content-center text-left align-items-center"
                 data-toggle="collapse"
                 data-target="#journeys"
                 aria-controls="journeys" id="journey-acc"><h2 class="pr-2 details-label">{% trans 'Journeys' %}</h2>
                <i class="fas fa-angle-down fa-3x icon-details-down-form myicon" id="icon-down-journey"></i>
                <i class="fas fa-angle-up fa-3x icon-details-up-form myicon" id="icon-up-journey"></i>
            </div>
            <div class="collapse show scrollable-horizontally" id="journeys">
                <table class="table">
                    {{ journeys.management_form }}
                    {% for form in journeys.forms %}
                        {% if forloop.first %}
                            <thead>
                            <tr>
                                {% for field in form.visible_fields %}
                                    <th>{% trans field.label|capfirst %}</th> {# todo: change captions#}
                                {% endfor %}
                            </tr>
                            </thead>
                        {% endif %}
                        <tr class="{% cycle row1 row2 %} formset_row1">
                            {% for field in form.visible_fields %}
                                <td>
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    <div class="field">{{ field }}
                                    </div>
                                    <div class="error-style">{{ field.errors.as_text }}</div>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="form-with-acc">
            <div class="accordion d-flex justify-content-center text-left align-items-center" data-toggle="collapse"
                 data-target="#accommodations" aria-controls="accommodations" id="accommodation-acc"
            ><h2 class="pr-2 details-label">{% trans 'Accommodations' %}</h2>
                <i class="fas fa-angle-down fa-3x icon-details-down-form myicon" id="icon-down-accommodation"></i>
                <i class="fas fa-angle-up fa-3x icon-details-up-form myicon" id="icon-up-accommodation"></i>
            </div>
            <div class="collapse scrollable-horizontally" id="accommodations">
                <table class="table">
                    {{ accommodations.management_form }}
                    {% for form in accommodations.forms %}
                        {% if forloop.first %}
                            <thead>
                            <tr>
                                {% for field in form.visible_fields %}
                                    <th>{% trans field.label|capfirst %}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                        {% endif %}
                        <tr class="{% cycle row1 row2 %} formset_row2">
                            {% for field in form.visible_fields %}
                                <td>
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {{ field }}
                                    <div class="error-style">{{ field.errors.as_text }}</div>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        {#        <button type="button" class="accordion" data-toggle="collapse"#}
        {#                data-target="#attractions">{% trans 'Attractions' %} +#}
        {#        </button>#}
        {#        <div>#}
        <div class="form-with-acc">
            <div class="accordion d-flex justify-content-center text-left align-items-center" data-toggle="collapse"
                 data-target="#attractions" aria-controls="attractions" id="attraction-acc"
            ><h2 class="pr-2 details-label">{% trans 'Attractions' %}</h2>
                <i class="fas fa-angle-down fa-3x icon-details-down-form myicon" id="icon-down-attraction"></i>
                <i class="fas fa-angle-up fa-3x icon-details-up-form myicon" id="icon-up-attraction"></i>
            </div>
            <div class="collapse scrollable-horizontally" id="attractions">
                <table class="table">
                    {{ attractions.management_form }}
                    {% for form in attractions.forms %}
                        {% if forloop.first %}
                            <thead>
                            <tr>
                                {% for field in form.visible_fields %}
                                    <th>{% trans field.label|capfirst %}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                        {% endif %}
                        <tr class="{% cycle row1 row2 %} formset_row3">
                            {% for field in form.visible_fields %}
                                <td>
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {{ field }}
                                    <div class="error-style">{{ field.errors.as_text }}</div>
                                    {# todo: gdy kopiuje sie wiersz, to bledy tez #}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div><input class="btn btn-primary" type="submit" value="{% trans 'Save' %}"/></div>
        <div><a href="{% url 'my-trip-list' %}">{% trans 'Back to the List of My Trips' %}</a></div>

        {% if form.initial|length > 0 %}
            <div><a href="{% url 'trip-detail' trip.pk %}">{% trans 'Back to Trip Details' %}</a></div>
            <div><a href="{% url 'trip-delete' trip.pk %}">{% trans 'Delete the trip'%}</a></div>
        {% endif %}

        {# todo: flatpicker kasuje godzinę przy update#}
        {#    todo: implementacja - gdy bład, to pokaż wszystkie tabby rozsuniete#}
        {#        </div>#}

    </form>

{% endblock %}

{% block js %}
    <script>const language_code = '{{ request.LANGUAGE_CODE }}';</script>
    <script>const addNewRow = '<span class="underline-on-hover">{% trans 'Add new row' %}</span>'</script>

    <script src="{% static 'libs/formset/jquery.formset.js' %}"></script>
    <script src="{% static 'own/js/add_trip_attribute.js' %}"></script>
    <script src="{% static 'own/js/form-accordion.js' %}"></script>
    <script src="{% static 'own/js/form-autocomplete.js' %}"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/pl.js"></script>

    <script>
        $(document).ready(function () {
            //title = $(event.target).closest('.field').find('textarea.more-info');

            $( "textarea.more-info")
                .closest( ".field" )
                .show();

{#            alert($(".ii").find("textarea[style='display:block;']").attr('id'));#}
{#            alert($(".materialize-textarea:hidden").attr('id'));#}

        });
    </script>


{#    <i class="fas fa-plus-circle fa-2x d-none"></i>#}
{% endblock %}

