{% extends "base.html" %}
{% load i18n %}
{% block title %}{% endblock %}
{% block content %}
            <h1>{{ trip.name }}</h1>
            <h2>{% trans 'Trip participants' %}</h2>
            <ul>
                {% for user in participants %}
                    <li>{{ user.username }}</li>
                {% endfor %}
            </ul>

        {% if trip.created_by_id == user.id %}
        <div class="md-form">
            <form method="post"> {# todo: half of the screen displaying only #}
                {% csrf_token %}
                <h2>{% trans 'Add new participant' %}</h2>
                <p>{% trans 'Type in the username and click "Tab" to validate it' %}</p>
                <input class="form-control new-participant" type="text" id="username" name="username"  placeholder={% trans "Username"%} data-validate-participant-url="{% url 'validate_participant' %}"> <span id="check_icon" style="visibility: hidden"></span>
                <div>
                    <button class="btn" id='add-button'style="display: none" type="submit">{% trans 'Add' %}</button>
                </div>
            </form>
        </div>
        {% endif %}

        <a href="{% url 'trip-detail' trip.pk %}">{% trans 'Back to Trip Details'%}</a>



    <script>
        $(".new-participant").change(function () {
            var form = $(this).closest("form");
            var input = $(this).closest("input");
            var $form = $('form')
            var tripName = {'tripName' : '{{trip_name}}' };

            data = $form.serialize() + '&' + $.param(tripName);

            $.ajax({
                url: input.attr("data-validate-participant-url"),
                data: data,
                dataType: 'json',
                success: function (data) {
                    $('#check_icon').css('visibility', 'visible');
                    $('#check_icon').css('font-style', 'italic');
                    $('#add-button').hide();
                    if (data.exists) {
                        $('#check_icon').css('color', '#4caf50');
                        $('#check_icon').html("<i class='fa fa-check fa-2x green-text' aria-hidden='true'><\/i>" +
                            data.message_text);
                        $('.btn').show();
                    }
                    else {
                        $('#check_icon').css('color', '#f44336');
                        $('#check_icon').html("<i class='fa fa-close fa-2x red-text' aria-hidden='true'><\/i>" + data
                            .message_error);
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block js %}
    {#  <script>#}
    {#    $("#new_participant").change(function () {#}
    {#      var username = $(this).val();#}
    {##}
    {#        $.ajax({#}
    {#        url: '/ajax/validate_participant/',#}
    {#        data: {#}
    {#          'username': username#}
    {#        },#}
    {#        dataType: 'json',#}
    {#        success: function (data) {#}
    {#          if (data.is_taken) {#}
    {#            alert("A user with this username already exists.");#}
    {#          }#}
    {#        }#}
    {#        });#}
    {#    });#}
    {#  </script>#}
{% endblock %}