{% extends "base.html" %}
{% load i18n %}

{% block title %}{% endblock %}
{% block content %}
    <h1>{% trans 'About Tripplanner' %}</h1>

    <article>
    <p>Tripplanner to miejsce, w którym przechowasz plany dotyczące Twojej wyprawy. Możesz tu zapisać informacje dotyczące swojej wycieczki:</p>
    <ul>
        <li>
            <i class="fas fa-rocket "></i> twoje podróże,
        </li>
        <li>
            <i class="fas fa-bed "></i> zakwaterowanie w trakcie wycieczki,
        </li>
        <li>
            <i class="fas fa-star "></i> atrakcje, np.&nbsp;muzea lub zwiedzanie zabytków.
        </li>
    </ul>
    </article>

    <article>
        <p>Zapisaną wycieczkę możesz współdzielić ze swoimi znajomymi&nbsp;-&nbsp;dodaj ich do listy współuczestników i&nbsp;wspólnie twórzcie <span style="white-space: nowrap;">plany!<i class="fas fa-users fa-2x ml-2"></i></span></p>

    <p>Po zapisaniu informacji, możesz je wyeksportować do pliku .pdf i&nbsp;korzystać z nich nawet offline&nbsp;-&nbsp;czy to w&nbsp;formie wydruku, czy też na urządzeniu <span style="white-space: nowrap;">mobilnym!<i class="far fa-file-pdf fa-2x ml-2"></i></span></p>


    <p> Możesz również zainspirować się planami podróży innych użytkowników i&nbsp;utworzyć własny plan w&nbsp;oparciu o&nbsp;ich notatki!<span style="white-space: nowrap;"><i class="far fa-smile fa-2x ml-2"></i><i
                            class="far fa-lightbulb mb-3"></i></span></p>

    <a class="nav-link" href="{% url 'trip-list' %}">Obejrzyj plany innych użytkowników
                </a>

    <a class="nav-link" href="{% url 'trip-with-attributes-create' %}">Utwórz nową wycieczkę od podstaw
    </a>

    </article>


{% endblock %}