{% extends "base.html" %}
{% load i18n %}
{% block title %}{% endblock %}
{% block content %}

    <h1>{% trans "Trip's details:" %}</h1>
    <div>
        <ul>
            <li><label>{% trans 'Name:' %}</label> {{ trip.name }} </li>
            <li><label>{% trans 'Description:' %}</label> {{ trip.description }}</li>
            <li><label>{% trans 'Created by:' %}</label> {{ trip.created_by }}</li>
        </ul>

        {% if trip.journey_set.all %}
            <h2>{% trans 'Journeys' %}</h2>
            <ul>
                {% for journey in trip.journey_set.all %}
                    <li>
                        <label>{% trans 'Start time:' %}</label>
                        {{ journey.start_time|date:"d-m-Y H:i" }},{# todo: somehow implement default display of dates #}
                        <label>{% trans 'End time:' %}</label>
                        {{ journey.end_time|date:"d-m-Y H:i" }},
                        <label>{% trans 'Start point:' %}</label>
                        {{ journey.start_point }},
                        <label>{% trans 'End point:' %}</label>
                        {{ journey.end_point }},
                        <label>{% trans 'Means of transport:' %}</label>
                        {{ journey.means_of_transport }},
                        <label>{% trans 'Price (PLN):' %}</label>
                        {{ journey.price }}.
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if trip.accommodation_set.all %}
            <h2>{% trans 'Accommodations'%}</h2>
            <ul>
                {% for accommodation in trip.accommodation_set.all %}
                    <li>
                        <label>{% trans 'Start time:' %}</label>
                        {{ accommodation.start_time|date:"d-m-Y H:i" }},
                        <label>{% trans 'End time:' %}</label>
                        {{ accommodation.end_time|date:"d-m-Y H:i" }},
                        <label>{% trans 'Place:' %}</label>
                        {{ accommodation.place }},
                        <label>{% trans 'Price (PLN):' %}</label>
                        {{ accommodation.price }}.
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if trip.attraction_set.all %}
            <h2>{% trans 'Attractions'%}</h2>
            <ul>
                {% for attraction in trip.attraction_set.all %}
                    <li>
                        <label>{% trans 'Start time:' %}</label>
                        {{ attraction.start_time|date:"d-m-Y H:i" }},
                        <label>{% trans 'End time:' %}</label>
                        {{ attraction.end_time|date:"d-m-Y H:i" }},
                        <label>{% trans 'Place:' %}</label>
                        {{ attraction.place }},
                        <label>{% trans 'Price (PLN):' %}</label>
                        {{ attraction.price }}.
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <div><a href="{% url 'trip-update' trip.pk %}">{% trans 'Edit the trip'%}</a></div>
        <div><a href="{% url 'trip-delete' trip.pk %}">{% trans 'Delete the trip'%}</a></div>

        {#    todo: button to my next trip in detail#}

    </div>
{% endblock %}