{% extends "base.html" %}
{% load i18n %}
{% load custom_template_filters %}
{% block title %}{% endblock %}
{% block content %}

    <div class="row"> {# todo: style #}
        <div class="col-6 text-left justify-content-center align-items-center">
        {% if prev_trip_id %}
            <a class="myicon" href="{% url 'trip-detail' prev_trip_id %}"><i class="fas fa-angle-left fa-3x d-inline-block">
                </i>
{#                <span class="d-inline-block">{% trans 'Previous trip' %}</span>#}
            </a>
        {% endif %}
        </div>
        <div class="col-6 text-right">
        {% if next_trip_id %}
            <a class="myicon" href="{% url 'trip-detail' next_trip_id %}"><i class="fas fa-angle-right fa-3x"></i></a>
        {% endif %}
        </div>
    </div>

    <div class="row details-top-part">
        <div class="col-6">
            <h1 class="h1-details">{{ trip.name }} </h1>

            <div>
                <p class="details-main"><label>{% trans 'Description' %}:</label> {{ trip.description }} </p>
                <p class="details-main"><label>{% trans 'Created by' %}:</label> {{ trip.created_by }} </p>
                <p class="details-main">
                    <label>{% trans 'Start time' %}:</label> {{ trip.start_time|default_if_none:"" }} </p>
                <p class="details-main"><label>{% trans 'End time' %}:</label> {{ trip.end_time|default_if_none:"" }}
                </p>
                <p class="details-main">
                    <label>{% trans 'Total Cost (PLN)' %}:</label> {{ trip.price|default_if_none:"" }} </p>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center text-center">
            {% if user.id == trip.created_by_id %}
                {% if trip.main_image %}
                    <div class="photo-container h-100 w-100 justify-content-center align-items-center text-center">
                        <a href="{% url 'upload-trip-img' trip.pk %}">
                            <img src='../../../{{ trip.main_image.url }}'
                                 alt="Trip main photo"
                                 class="photo-img img-fluid mx-auto d-block">

                            <div class="overlay">
                                <div class="photo-text-over myicon">
                                    <p><i class="far fa-image fa-5x d-inline-block"></i></p>
                                    <p>{% trans "Change main image" %}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% else %}
                    <div class="row h-100 justify-content-center align-items-center text-center">
                        <a href="{% url 'upload-trip-img' trip.pk %}"><span class="myicon">
                            <p>
                                <i class="far fa-image fa-5x d-inline-block"></i>
                                <i class="fas fa-plus fa-2x d-inline-block mb-5"></i>
                            </p>
                            <p>{% trans 'Add main image' %}</p>
                        </span></a>
                    </div>
                {% endif %}
            {% else %}
                {% if trip.main_image %}
                    <div class="photo-container h-100 w-100 justify-content-center align-items-center text-center">
                        <img src='../../../{{ trip.main_image.url }}' alt="img" class="photo-img img-fluid mx-auto
                                                                           d-block">
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>


    <a href="#trip-details">
        <div class="accordion" id="trip-details" onclick="openDetails(event, 'trip-details-table')">
            {% trans "Show/Hide Trip's Details" %}</div>
    </a>

    <div class="scrollable-horizontally tabcontent" id="trip-details-table">
        <table class="table table-details">
            <label id="table-details-label">{% trans "Trip's Details Ordered by Start Time" %}</label>
            <thead>
            <tr>
                <th></th>
                <th>{% trans 'Name' %}</th>
                <th class="text-center">{% trans 'Time' %}</th>
{#                <th>{% trans 'Start point' %} - {% trans 'End point' %}</th>#}
                <th>{% trans 'Z - do' %}</th>
                <th>{% trans 'Means of transport' %}</th>
                <th>{% trans 'Address' %}</th>
                <th class="text-right">{% trans 'Price (PLN)' %}</th>
            </tr>
            </thead>

            <tbody>
            {% if all %}
                {% for el in all %}
                    <tr>
                        <td class="justify-content-center"><i class="{{ el|ret_icon }}"></i></td>
                        <td>{{ el.name|default_if_none:"" }}</td>
                        <td class="text-center">{{ el.start_time|date:"d.m.y H:i"|default_if_none:"" }}{{ el.end_time|date:" - d.m.y H:i"|default_if_none:"" }}</td>
                        <td>{{ el.start_point|default_if_none:"" }} - {{ el.end_point|default_if_none:"" }}</td>
                        <td>{{ el.means_of_transport|default_if_none:"" }}</td>
                        <td>{{ el.address|default_if_none:"" }}</td>
                        <td class="text-right">{{ el.price|default_if_none:"" }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="font-weight-bold text-right">{{ trip.price }}</td>
            </tr>
            </tfoot>
        </table>
    </div>
    {% if  participant %}
        <div class="row w-100 justify-content-center text-center details-main-icons">
            {% if user.id == trip.created_by_id %}
                <div class="col-3">
                    <a href="{% url 'trip-update' trip.pk %}"><span class="myicon">
                            <p><i class="far fa-edit fa-4x d-inline-block"></i></p>
                            <p>{% trans 'Edit' %}</p>
                        </span></a>
                    {#                </div>#}
                </div>
                <div class="col-3">
                    <a href="{% url 'trip-delete' trip.pk %}"><span class="myicon">
                            <p><i class="far fa-trash-alt fa-4x d-inline-block"></i></p>
                            <p>{% trans 'Delete' %}</p>
                        </span></a>
                </div>
            {% endif %}

            <div class="col-3">
                <a href="{% url 'trip-participants' trip.pk %}"><span class="myicon">
                    <p><i class="fas fa-users fa-4x d-inline-block"></i></p>
                    <p>{% trans 'Trip participants' %}</p>
                </span></a>
            </div>

            <div class="col-3">
                <a href="{% url 'trip-detail-pdf' trip.pk %}"><span class="myicon">
                        <p><i class="far fa-file-pdf fa-4x d-inline-block"></i></p>
                        <p>{% trans 'Pdf-file with details' %}</p>
                    </span></a>
            </div>
        </div>
    {% else %}
        <div class="row h-100 w-100 align-items-center text-center details-main-icons">
            <div class="col-12 d-inline-block">
                <a id="inspired" href=#><span class="myicon">
                    <p><i class="far fa-smile fa-5x d-inline-block"></i><i
                            class="far fa-lightbulb fa-3x d-inline-block mb-5"></i></p>
                    <p>{% trans 'Inspired? Go on a same trip!' %}</p>
                </span></a>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('#inspired').click(function () {
                var tripId = {'tripId': '{{trip.id}}'};

                $.ajax({
                    url: '/ajax/inspired/',
                    data: tripId,
                    dataType: 'json',
                    success: function (data) {
                        window.location.href = data.tripEditUrl;
                    }
                });
            });
        });
    </script>

    <script>
        function openDetails(evt, id) {
            var myvar;
            myvar = document.getElementById(id);
            if (myvar.style.display == "block") {
                myvar.style.display = "none";
            } else {
                myvar.style.display = "block";
            }
            evt.currentTarget.className += " active";
        }
    </script>

    <script>
        $(function () {
            $('a[href*="#"]:not([href="#"])').click(function () {
                if (location.pathname.replace(/^\//, '') === this.pathname.replace(/^\//, '') && location.hostname === this.hostname) {
                    var target = $(this.hash)
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']')
                    if (target.length) {
                        $('html, body').animate({
                            scrollTop: target.offset().top
                        }, 1000)
                        return false
                    }
                }
            })
        })
    </script>

{% endblock %}