{% extends "base.html" %}
{% load i18n %}
{% load custom_template_filters %}
{% block title %}{% endblock %}
{% block content %}

    <div class="row details-top-part">
        <div class="col-6">
            <h1 class="h1-details">{{ trip.name }} </h1>

            <div>
                <p class="details-main"><label>{% trans 'Description' %}:</label> {{ trip.description }} </p>
                <p class="details-main"><label>{% trans 'Created by' %}:</label> {{ trip.created_by }} </p>
                <p class="details-main"><label>{% trans 'Start time' %}:</label> {{ trip.start_time }} </p>
                <p class="details-main"><label>{% trans 'End time' %}:</label> {{ trip.end_time }} </p>
                <p class="details-main"><label>{% trans 'Total Cost (PLN)' %}:</label> {{ trip.price }} </p>
            </div>
        </div>
        <div class="col-6">
            {% if  participant %}
                <div class="row w-100 justify-content-center align-items-end text-center" id="details-main-icons-1row">
                    {% if user.id == trip.created_by_id %}
                        <div class="col-6 d-inline-block">
                            <a href="{% url 'trip-update' trip.pk %}"><span class="myicon">
                            <p><i class="far fa-edit fa-5x d-inline-block"></i></p>
                            <p>{% trans 'Edit' %}</p>
                        </span></a>
                        </div>
                        <div class="col-6 d-inline-block">
                            <a href="{% url 'trip-delete' trip.pk %}"><span class="myicon">
                            <p><i class="far fa-trash-alt fa-5x d-inline-block"></i></p>
                            <p>{% trans 'Delete' %}</p>
                        </span></a>
                        </div>
                    {% endif %}
                </div>
                <div class="row w-100 justify-content-center align-items-end text-center">
                    <div class="col-6 d-inline-block">
                        <a href="{% url 'trip-participants' trip.pk %}"><span class="myicon"></p>
                            <p><i class="fas fa-users fa-5x d-inline-block"></i></p>
                        <p>{% trans 'Trip participants' %}</p>
                    </span></a>
                    </div>
                    <div class="col-6 d-inline-block">
                        <a href="{% url 'trip-detail-pdf' trip.pk %}"><span class="myicon">
                        <p><i class="far fa-file-pdf fa-5x d-inline-block"></i></p>
                        <p>{% trans 'Pdf-file with details' %}</p>
                    </span></a>
                    </div>
                </div>
            {% else %}
                <div class="row h-100 w-100 align-items-center text-center">
                    <div class="col-12 d-inline-block">
                        <a id="inspired" href=#><span class="myicon">
                        <p><i class="far fa-smile fa-5x d-inline-block"></i><i class="far fa-lightbulb fa-3x
                        d-inline-block mb-5"></i></p>
                        <p>{% trans 'Got inspired? Go on a same trip!' %}</p>
                        </span></a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="accordion" onclick="openDetails(event, 'trip-details-table')">
        {% trans "Show/Hide Trip's Details" %}</div>

    <div class="scrollable-horizontally tabcontent" id="trip-details-table">
        <table class="table table-details">
            <label id="table-details-label">{% trans "Trip's Details Ordered by Start Time" %}</label>
            <thead>
            <tr>
                <th></th>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Start time' %}</th>
                <th>{% trans 'End time' %}</th>
                <th>{% trans 'Start point' %}</th>
                <th>{% trans 'End point' %}</th>
                <th>{% trans 'Means of transport' %}</th>
                <th>{% trans 'Address' %}</th>
                <th>{% trans 'Price (PLN)' %}</th>
            </tr>
            </thead>

            <tbody>
            {% if all %}
                {% for el in all %}
                    <tr>
                        <td class="font-weight-400">{{ el|cust_trunc }}</td>
                        <td>{{ el.name|default_if_none:"" }}</td>
                        <td>{{ el.start_time|date:"d-m-y H:i"|default_if_none:"" }}</td>
                        <td>{{ el.end_time|date:"d-m-Y H:i"|default_if_none:"" }}</td>
                        <td>{{ el.start_point|default_if_none:"" }}</td>
                        <td>{{ el.end_point|default_if_none:"" }}</td>
                        <td>{{ el.means_of_transport|default_if_none:"" }}</td>
                        <td>{{ el.address|default_if_none:"" }}</td>
                        <td>{{ el.price|default_if_none:"" }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
            <tfoot>
            <tr>
                <td class="font-weight-bold">{% trans 'Total' %}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="font-weight-bold">{{ trip.price }}</td>
            </tr>
            </tfoot>
        </table>
    </div>

    {# todo: button to my next trip in detail #}
{% endblock %}

{% block js %}
    <script>
    $(document).ready(function() {
        $('#inspired').click(function () {
            var tripId = {'tripId' : '{{trip.id}}' };

            $.ajax({
                url: '/ajax/inspired/',
                data: tripId,
                dataType: 'json',
                success: function (data) {
                    window.location.href= data.tripEditUrl;
                }
            });
        });
    });
    </script>

    <script>
        function openDetails(evt, id) {
            var myvar;
            myvar = document.getElementById(id);
            if (myvar.style.display == "block") {
                myvar.style.display = "none";
            } else {
                myvar.style.display = "block";
            }
            evt.currentTarget.className += " active";
        }
    </script>

{% endblock %}